@import "chr";
@import "loft";
@import "ants";
@import "tape";
@import "journal";
@import "font-awesome";

@include font-face('Proxima Nova', "ProximaNovaRegular",  $regular,  $asset-pipeline: true, $file-formats: eot woff ttf);
@include font-face('Proxima Nova', "ProximaNovaSemibold", $semibold, $asset-pipeline: true, $file-formats: eot woff ttf);

$proxima-nova-family: "Proxima Nova", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

.author_settings {
  @include position(relative);
  min-height: 8.8em;

  .input-website_description {
    @include no-bottom-border;
    padding-left: 6em;

    .label {
      display: none;
    }
  }
}

.js_editor_panel,
.css_editor_panel {
  .input-css,
  .input-js {
    padding-top: 0.9em;
  }

  .label {
    display: none;
  }
}

/* Tablet ------------------------------------------------------------------ */
@media #{$tablet} {
  .sidebar,
  .header,
  .list:not(.list-aside) .items {
    font-family: $proxima-nova-family;
  }

  .tape .list.tape .items {
    font-family: $base-font-family;
  }

  .menu,
  .menu-posts,
  .menu-settings {
    margin-top: 1em;
  }

  .author_settings {
    min-height: 17.8em;

    .input-website_description {
      padding-left: 15.25em;
    }
  }
}
